.tabs .tab a:hover, .tabs .tab a.active {
  color: #b71c1c;
  background-color: #ffffff;
}

.tabs .tab a {
 font-size: 20px;
  color: #b71c1c;
}

.tabs .indicator {
  background-color: #b71c1c;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
     background-color: #ffffff;
}